@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Royal Melbourne Institute of Technology<br/>
    Sean Lee Jin Xiang<br/>
    s3301214<abbr/>    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:s3301214@student.rmit.edu.au">nine9_2@hotmail.com</a><br />
</address>