@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1>MyComputer</h1>
    <p class="lead">My Online Computer Store.</p>
    <p><a href="/Products" class="btn btn-primary btn-lg">View Products &raquo;</a></p>
</div>

